Dockerfile
fly.toml

**/.env*

.git
.github
.assets
app
docs
kernel

**/.wrangler
**/node_modules
**/target
**/tests

!kernel/plutus.json
rust/crates/konduit-wasm/konduit-wasm-*
rust/crates/konduit-wasm/examples
